# Virtual environment
venv/
.venv/
env/
ENV/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Local IDE configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Datasets and cache folders
data/
reports/figures/*.png
reports/*.csv
.ipynb_checkpoints/
